
@model RedBadgeMVC.Models.ReviewModels.ReviewDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ReviewDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReviewId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reviews)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reviews)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemImage)
        </dt>
        <dd><img src="~/Image/@Html.DisplayFor(model => model.ItemImage)" width="200" /> </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>