
@model IEnumerable<RedBadgeMVC.Models.ReviewModels.ReviewListItem>

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple">
<h2 class="font-effect-shadow-multiple">Reviews</h2>
@if (User.IsInRole("Customer"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<div class=" photo-gallery">
    <div class="container-fluid">
        <div class="px-lg-5">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                        <div class="bg-white img-rounded shadow-sm  ">
                            <br />
                            <img src="~/Image/@Html.DisplayFor(modelItem => item.ItemImage)" width="200" />

                        </div>
                        <div>
                           Product Name: @Html.DisplayFor(modelItem => item.ItemName)
                        </div>
                        <div>
                            @Html.DisplayFor(modelItem => item.Reviews)
                        </div>
                        <br />
                        @if (User.IsInRole("Customer"))
                        {

                            <div class="d-flex alighn-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                                @Html.ActionLink("Edit", "Edit", new { id = item.ReviewId }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ReviewId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ReviewId })
                            </div>
                        }
                        else
                        {
                            @*@if (User.IsInRole("customer"))
                                {*@
                            <div class="p-4">
                                @Html.ActionLink("Details", "Details", new { id = item.ReviewId })
                                <br />

                            </div>
                            @*}*@
                        }




                    </div>
                }



            </div>
        </div>

    </div>


</div>

<style>

   

    h2 {
        background-color: black;
        color: white;
        vertical-align: top;
        text-decoration: underline;
        text-transform: capitalize;
        text-shadow: 1px 1px;
        font-style: italic;
        font-size: 30px;
        font-family: "Sofia", sans-serif;
        border: 2px solid black;
        /*  outline: #4CAF50 solid 10px;*/
        margin-left: 550px;
        margin-right: 550px;
        padding: 20px;
        text-align: center;
        text-align: center;
    }


        p {
            text-align: center;
            color: white;
            text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
        }
    </style>
