
@model IEnumerable<RedBadgeMVC.Models.ReviewModels.ReviewListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Reviews</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.ReviewId)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Reviews)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.ReviewId)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Reviews)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ReviewId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ReviewId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ReviewId })
            </td>
        </tr>
    }

</table>
<style>
    h2 {
        text-align: center;
        color: white;
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    }

    p {
        text-align: center;
        color: white;
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    }
</style>
