@model RedBadgeMVC.Models.StoreModels.StoreDetails

@{
    ViewBag.Title = "Details";
}

<h2 style="text-align:center"> Store Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StoreId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OpeningTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpeningTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClosingTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClosingTime)
        </dd>
        <h4>Items</h4>
        <hr />
        <dl class="dl-horizontal">
            @foreach (var item in Model.Items)
            {

                <dt>@Html.DisplayNameFor(modelItem => item.Name)</dt>
                <dd>@Html.DisplayFor(modelItem => item.Name)</dd>

                <dt>@Html.DisplayNameFor(modelItem => item.Price)</dt>
                <dd>@Html.DisplayFor(modelItem => item.Price)</dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ItemImage)
                </dt>
                <dd><img src="~/Image/@Html.DisplayFor(model => model.ItemImage)" width="200" /> </dd>

                <dd></dd>
                <dd>@Html.ActionLink("View Items", "Details", "Product", new { id = item.ProductId }, null)</dd>
                <br />
            }

        </dl>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.StoreId  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<style>



    h2 {
        background-color: black;
        color: white;
        vertical-align: top;
        text-decoration: underline;
        text-transform: capitalize;
        text-shadow: 1px 1px;
        font-style: italic;
        font-size: 30px;
        font-family: "Sofia", sans-serif;
        border: 2px solid black;
        outline: #4CAF50 solid 10px;
        margin: auto;
        padding: 20px;
        text-align: center;
        text-align: center;
    }
</style>