@model IEnumerable<RedBadgeMVC.Models.StoreModels.StoreListItem>

@{
    ViewBag.Title = "Index";
}

<h2> Our Stores</h2>
@if (User.IsInRole("Seller"))
{
    <p  class="Create">
        @Html.ActionLink("Create New", "Create")
    </p>
}

<div class=" photo-gallery">
    <div class="container-fluid">
        <div class="px-lg-5">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                        <div class="store  " style="text-decoration: underline">
                            <br />
                           @Html.DisplayFor(modelItem => item.StoreName)

                        </div>
                        <br />
                        <br />
                        <div>
                            Store Address: @Html.DisplayFor(modelItem => item.Address)
                        </div>
                        <div>
                            Store Hours:  @Html.DisplayFor(modelItem => item.OpeningTime)-
                            @Html.DisplayFor(modelItem => item.ClosingTime)
                        </div>
                        <br />
                        @if (User.IsInRole("Seller"))
                        {

                            <div class="d-flex alighn-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                                @Html.ActionLink("Edit", "Edit", new { id = item.StoreId }) |
                                @Html.ActionLink("Details", "Details", new { id = item.StoreId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.StoreId })
                            </div>
                        }
                        else
                        {
                            @*@if (User.IsInRole("customer"))
                                {*@
                            <div class="p-4">
                                @Html.ActionLink(" Check for store Details", "Details", new { id = item.StoreId })
                                <br />

                            </div>
                            @*}*@
                        }




                    </div>
                }



            </div>
        </div>

    </div>


</div>
<br />
<br />
<style>



    h2 {
        background-color: black;
        color: white;
        vertical-align: top;
        text-decoration: underline;
        text-transform: capitalize;
        text-shadow: 1px 1px;
        font-style: italic;
        font-size: 30px;
        font-family: "Sofia", sans-serif;
        border: 2px solid black;
        /*  outline: #4CAF50 solid 10px;*/
        margin-left: 550px;
        margin-right: 550px;
        padding: 20px;
        text-align: center;
        text-align: center;
    }


    p {
        text-align: center;
        color: white;
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    }
    .Create {
        background-color: black;
        font-size: 20px;
        text-align: center;
        text-decoration: underline;
        position: fixed;
        bottom: 60px;
        right: 0;
        left: 1210px;
        width: 135px;
        border: 3px solid black;
        padding: 4px;
    }
    .store {
        text-transform: capitalize;
        font-family: "Times New Roman", Times, red serif;
        font-size: 20px;
        color: black;
        text-shadow: 2px 2px 4px white;
    }
</style>