@model IEnumerable<RedBadgeMVC.Models.StoreModels.StoreListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Stores</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.StoreId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.StoreName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpeningTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClosingTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    @*<td>
            @Html.DisplayFor(modelItem => item.StoreId)
        </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.StoreName)
    <td>
        @Html.DisplayFor(modelItem => item.Address)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OpeningTime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ClosingTime)
    </td>
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.StoreId }) |
        @Html.ActionLink("Details", "Details", new { id = item.StoreId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.StoreId })
    </td>
</tr>
}

</table>
<style>
    h2 {
        text-align: center;
        color: white;
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    }

    p {
        text-align: center;
        color: white;
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    }
</style>