@model RedBadgeMVC.Models.CategoryModels.CategoryDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CategoryDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <hr />
        <h4>Items</h4>
        <hr />
        <dl class="dl-horizontal">
            @foreach (var item in Model.Items)
            {

                <dt>@Html.DisplayNameFor(modelItem => item.Name)</dt>
                <dd>@Html.DisplayFor(modelItem => item.Name)</dd>
               
                <dt>@Html.DisplayNameFor(modelItem => item.Price)</dt>
                <dd>@Html.DisplayFor(modelItem => item.Price)</dd>

                <dd></dd>
                <dd>@Html.ActionLink("View Items", "Details", "Item", new { id = item.ItemId }, null)</dd>
                <br />
            }

        </dl>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryId}) |
    @Html.ActionLink("Back to List", "Index")
</p>
