@model IEnumerable<RedBadgeMVC.Models.CategoryModels.CategoryListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Our Categories</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Items.Count)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CategoryId }) |
                @Html.ActionLink("Details", "Details", new { id = item.CategoryId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId })
            </td>
        </tr>
    }

</table>
<h2 class="underline">Explore Our Departments</h2>

<br />
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <div class="raw text-center">
                <div class="col-md-4">
                    <img src="https://images.unsplash.com/photo-1516762689617-e1cffcef479d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTF8fGNsb3RoZXN8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="pic1" border="0" width="900" height="500">
                </div>
                @*<div class="col-md-4">
                        <h1>
                         clothing <br>
                        </h1>

                    </div>*@
            </div>
        </div>
        <div class="item">
            <div class="raw text-center">
                <div class="col-md-4">
                    <img src="https://images.unsplash.com/photo-1503174971373-b1f69850bded?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mjl8fGhvbWV8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="pic3" border="0" width="900" height="500">
                </div>
                @*<div class="col-md-4">
                        <h1>
                            Home & Kitchen
                        </h1>
                    </div>*@
            </div>
        </div>
        <div class="item">
            <div class="raw text-center">
                <div class="col-md-4">
                    <img src="https://images.unsplash.com/photo-1531895861208-8504b98fe814?ixid=MXwxMjA3fDB8MHxzZWFyY2h8ODl8fGJlYXV0eXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="pic3" border="0" width="900" height="500" ">
                </div>
                @*<div class="col-md-4">
                        <h1>
                            Beauty & Health
                        </h1>
                    </div>*@
            </div>
        </div>

        <div>
            <!--Start Slider Control-->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<style>
    h2 {
        text-align: center;
        color: white;
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    }
    p {
        text-align: center;
        color: white;
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    }
</style>
