@model RedBadgeMVC.Models.ItemModels.ProductDetails

@{
    ViewBag.Title = "Details";
}

<h2> Product Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductCondition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCondition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreName)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.StoreId)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.StoreId)
        </dd>*@
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.ItemImage)
        </dt>

        <td><img src="~/Image/@Html.DisplayFor(model => model.ItemImage)" width="200" /> </td>

        <hr />
        <h2>Reviews</h2>
        <hr />
        <dl class="dl-horizontal">
            @foreach (var item in Model.Reviews)
            {

                @*<dt>@Html.DisplayNameFor(modelItem => item.Name)</dt>
                <dd>@Html.DisplayFor(modelItem => item.Name)</dd>*@

                <dt>@Html.DisplayNameFor(modelItem => item.Reviews)</dt>
                <dd>@Html.DisplayFor(modelItem => item.Reviews)</dd>

                @*<dd></dd>
                <dd>@Html.ActionLink("View Items", "Details", "Item", new { id = item. }, null)</dd>
                <br />*@
            }

        </dl>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId}) |
    @Html.ActionLink("Back to List", "Index")
</p>
<style>
    h2{
        text-align: center;
        color: white;
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    }

    p {
        text-align: center;
        color: white;
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    }
</style>