<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")"></script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Shopping Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="height:100%" class="container">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Numidia Shop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Product", "Index", "Product")</li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Store", "Index", "Store")</li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Category", "Index", "Category")</li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Review", "Index", "Review")</li>

                    }
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                </ul>


                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <br />
    <br />
    <div id="home">

        @*<h1 style="text-align:center;">Numidia Shop App</h1>*@

        @*<marquee direction="down" width="500" height="50" behavior="alternate"></marquee>*@
        <marquee behavior="alternate" style="font-size:50px;">Numidia Shop App</marquee>

    </div>
   
    <div>
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p class="text-center">&copy; @DateTime.Now.Year - Numidia Shop Application</p>
            <p class="text-center">By Amel Mallem  Louda</p>
            <div class="col-md-6 col-sm-6 copyright-right">
                <ul class="list-unstyled list-social">
                    <li><a href="http://www.facebook.com" target="_blank"><i class="fa fa-facebook" style="color:cornflowerblue"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-twitter" style="font-size: 20px; color:blue"></i></a></li>
                    <li><a href="http://www.google.com" target="_blank"><i class="fa fa-google" style="color:red"></i></a></li>
                </ul>

            </div>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


</body>
</html>
        
        
